html {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  height: 100%;
  display: grid;
  row-gap: 1.2em;
  place-content: center;
  font-family: Poppins, sans-serif;
}

body {
  margin: 3em 1.7em;
}

img {
  max-width: 100%;
  display: block;
}

.head_card h1 {
  font-weight: 200;
  font-size: 1.6em;
  color: hsl(212, 6%, 44%);
}

.head_card span {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.head_card p {
  font-size: 0.98em;
  color: hsl(212, 6%, 44%);
  font-weight: 400;
  padding: 1em 0;
}

.head_card {
  text-align: center;
}

.content_card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0.01em 0.5em 1em 0.004em hsl(212, 6%, 80%);
  border-radius: 0.3em;
}
